.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 56px;
  border: 2px solid $primary;
  border-radius: 30px;
  background: transparent;
  @include font-size(18);
  color: $text-color;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;

  @media (min-width: $resolution-lg) {
    height: 56px;
    @include font-size(18);
  }

  &--white {
    border-color: $white;
    color: $white;

    &.button--arrow-right {
      &::after {
        border-color: $white;
      }
    }
  }

  &--full-green {
    border-color: $green;
    background-color: $green;
    color: $text-color;
  }

  &--arrow-right {
    &::after {
      content: " ";
      display: inline-block;
      border: solid $primary;
      border-width: 0 2px 2px 0;
      padding: 4px;
      margin-left: 6px;
      transform: rotate(-45deg);
    }
  }
}
